{% extends "dog/layout.html" %}
{% load static %}

{% block script %}
<script>
  const chartImgUrl = "{% static 'dog/poo-chart.jpg' %}";
</script>
<script type="module" src="{% static 'dog/dogProfile/index.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container p-2">
    <div class="row m-0">
        <div class="col-8 mb-4">
            <h2 id="dog-name" class="display-4">{{ dog.name }}</h2>
            <p id="dog-details">
                <b>Breed: </b><span id="dog-breed">{{ dog.breed }}</span> |
                <b>Age: </b><span id="dog-age">{{ dog.age }}</span> |
                <b>Gender: </b><span id="dog-gender">{{ dog.gender }}</span>
            </p>
        </div>
        <div class="col-4 mb-4">
            <img src="{{ dog.image }}" alt="dog's image" style="max-height: 18rem;"/>
        </div>
    </div>

    <div class="row my-3">
        <div class="col d-flex justify-content-around">
            <button class="btn btn-sm btn-outline-primary" id="dog-meals-btn">Meals</button>
            <button class="btn btn-sm btn-outline-primary" id="dog-activity-btn">Activity</button>
            <button class="btn btn-sm btn-outline-primary" id="dog-crap-btn">Craps</button>
        </div>
    </div>

    <div class="row m-0">
        <div class="col">
            <h3 class="display-6"></h3>
            <div id="dog-dashboard" class="dog-dashboard">
            </div>
        </div>
    </div>
</div>
{{ dog|json_script:"dog-data" }}
{{ meals|json_script:"meals-data" }}
{{ activities|json_script:"activities-data" }}
{{ craps|json_script:"craps-data" }}

{% endblock %}
