<template id="dog-card-template">
  <a class="dog-link">
    <div class="card" style="max-width: 14rem;">
      <img class="card-img-top dog-image" alt="Dog's picture">
      <div class="card-body p-1">
        <h5 class="card-title dog-name"></h5>

        <div class="container">
          <div class="row">
            <div class="col-4 p-0"><b>Breed:</b></div>
            <div class="col dog-breed"></div>
          </div>
          <div class="row">
            <div class="col-4 p-0"><b>Gender:</b></div>
            <div class="col dog-gender"></div>
          </div>
          <div class="row">
            <div class="col-4 p-0"><b>Age:</b></div>
            <div class="col dog-age"></div>
          </div>
        </div>
      </div>
    </div>
  </a>
</template>
